nav.navbar {
    border: none;
    background-color: var(--header_background);
    margin-bottom: 0;
    width: 100%;
    border-radius: 0;
}

.main-nav {
    margin-left: 24px;
}

.navbar .logo a {
    display: block;
    padding: 0 0 4px;
}

ul.nav {
    margin: 0;
}

.navbar .main-nav ul.nav li {
    display: inline-block;
    list-style: none;
}

.navbar .main-nav ul.nav a {
    display: block;
    padding: 7px 15px;
    color: var(--header_primary-high);
}

.navbar .main-nav ul.nav a:hover,
.navbar .main-nav ul.nav a:focus,
.navbar .main-nav ul.nav .active a:hover,
.navbar .main-nav ul.nav .active a:focus {
    color: var(--header_primary);
    background-color: transparent;
}

.navbar .main-nav ul.nav .active a {
    background-color: var(--quaternary);
}

@media screen and (min-width: 992px) {
    .logo img {
        height: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .logo a {
        width: 3rem;
        overflow: hidden;
    }

    .logo img {
        height: 40px;
    }

    .main-nav {
        margin-left: 0;
        padding: 8px 0;
    }
}

@media screen and (min-width: 768px) {
    .nav-wrapper {
        display: flex;
        align-items: center;
        max-width: 1130px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    nav.navbar .main-nav {
        display: none;
    }

    // .d-header {
    //     height: auto;
    // }

    // .d-header > .wrap .contents {
    //     align-items: flex-start;
    // }

    // .d-header .title {
    //     flex-grow: 1;
    // }

    // .d-header .panel {
    //     padding-top: 8px;
    // }

    nav.navbar .logo a {
        padding: 8px;
    }

    nav.navbar .logo a img {
        height: 40px;
    }

    // nav.navbar .main-nav {
    //     --nav-expanded-height: 300px;
    //     height: 0;
    //     margin-left: 0;
    //     overflow: hidden;
    //     transition: 250ms height;
    // }

    // nav.navbar .main-nav.expanded {
    //     height: auto;
    //     height: var(--nav-expanded-height, auto);
    // }

    // nav.navbar .main-nav ul.nav {
    //     padding: 8px;
    // }

    // nav.navbar .main-nav ul.nav li {
    //     display: block;
    // }

    // nav.navbar .main-nav ul.nav a {
    //     padding: 8px 16px;
    // }
}
