nav.navbar {
    border: none;
    background-color: var(--header_background);
    margin-bottom: 0;
    width: 100%;
    border-radius: 0;
}

ul.nav:not(.nav-pills) a:hover,
ul.nav:not(.nav-pills) a:focus,
ul.nav:not(.nav-pills) .active a:hover,
ul.nav:not(.nav-pills) .active a:focus {
    color: var(--secondary);
    background-color: transparent;
}

ul.nav:not(.nav-pills) li i {
    width: 24px;
    display: inline-block;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .logo a {
        padding: 14px 10px 20px 20px;
    }

    .logo img {
        height: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .logo a {
        padding: 10px 10px 0 20px;
    }

    .logo img {
        height: 37px;
    }

    .main-nav {
        padding: 10px 20px;
    }
}

@media screen and (min-width: 768px) {
    .nav-wrapper {
        display: flex;
        align-items: center;
        max-width: 1130px;
        margin: 0 auto;
    }

    .navbar {
        border: none;
        background-color: var(--header_background);
        margin-bottom: 0;
        width: 100%;
    }

    .navbar .nav-2-3-4 {
        flex-grow: 1;
    }

    .navbar .nav-2-3 {
        display: flex;
    }

    .navbar .nav-2,
    .navbar .nav-3 {
        flex-grow: 1;
    }

    .navbar .navbar-toggle .icon-bar {
        background-color: var(--secondary);
    }

    .navbar .logo a {
        display: block;
    }

    .navbar .main-nav {
        vertical-align: top;
    }

    .navbar .main-nav ul.nav a {
        display: block;
        padding: 7px 15px;
    }

    .navbar .main-nav ul.nav a,
    .navbar .main-nav ul.nav .active a {
        color: var(--primary-low);
        font-size: 15px;
    }

    .navbar .main-nav ul.nav a:hover {
        color: var(--secondary);
    }

    .navbar .main-nav ul.nav li {
        display: inline-block;
    }

    .navbar .main-nav ul.nav .active a {
        background-color: var(--quaternary);
    }
}

@media screen and (max-width: 767px) {
    .nav-wrapper {
        display: none;
    }

    nav.navbar.navbar-default {
        border: none;
        background-color: var(--header_background);
        margin-bottom: 0;
        width: 100%;
    }

    nav.navbar.navbar-default a.logo img {
        height: 75px;
        padding: 10px;
    }

    nav.navbar.navbar-default ul.navbar-nav a {
        padding: 15px 15px;
        font-size: 17px;
    }
}

// New nav overrides
.title .navbar .nav-wrapper {
    .logo a {
        padding: 0;
    }

    .main-nav {
        margin-left: 24px;
    }

    ul.nav {
        margin: 0;
    }
}
