body {
    font-family: Ubuntu, sans-serif;
    font-size: 15px;
    line-height: 1.428571429;
}

h1, h2, h3 {
    font-family: 'Montserrat Alternates', sans-serif;
}

h1, h2, h3, h4 {
    color: #3a3e5d;
    font-weight: bold;
}

nav.navbar {
    border: none;
    background-color: #3a3e5d;
    margin-bottom: 0;
    width: 100%;
    border-radius: 0;
}

ul.nav a:hover,
ul.nav a:focus,
ul.nav .active a:hover,
ul.nav .active a:focus {
    color: #fff;
    background-color: transparent;
}

ul.nav li i {
    width: 24px;
    display: inline-block;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .logo a {
        padding: 14px 10px 20px 20px;
    }

    .logo img {
        height: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .logo a {
        padding: 10px 10px 0 20px;
    }

    .logo img {
        height: 37px;
    }

    .main-nav {
        padding: 10px 20px;
    }
}

@media screen and (min-width: 768px) {
    .nav-wrapper {
        display: flex;
        align-items: center;
        max-width: 1130px;
    }

    .navbar {
        border: none;
        background-color: #3a3e5d;
        margin-bottom: 0;
        width: 100%;
    }

    .navbar .nav-2-3-4 {
        flex-grow: 1;
    }

    .navbar .nav-2-3 {
        display: flex;
    }

    .navbar .nav-2,
    .navbar .nav-3 {
        flex-grow: 1;
    }

    .navbar .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar .logo a {
        display: block;
    }

    .navbar .main-nav {
        vertical-align: top;
    }

    .navbar .main-nav ul.nav a {
        padding: 7px 15px;
    }

    .navbar .main-nav ul.nav a,
    .navbar .main-nav ul.nav .active a {
        color: #ddd;
        font-size: 15px;
    }

    .navbar .main-nav ul.nav a:hover {
        color: white;
    }

    .navbar .main-nav ul.nav li {
        display: inline-block;
    }

    .navbar .main-nav ul.nav .active a {
        background-color: #4e537c;
    }
}

@media screen and (max-width: 767px) {
    .nav-wrapper {
        display: none;
    }

    nav.navbar.navbar-default {
        border: none;
        background-color: #3a3e5d;
        margin-bottom: 0;
        width: 100%;
    }

    nav.navbar.navbar-default a.logo img {
        height: 75px;
        padding: 10px;
    }

    nav.navbar.navbar-default ul.navbar-nav a {
        padding: 15px 15px;
        font-size: 17px;
    }
}
